<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<form method="post">
  <div class="container">

    <label for="currency"><b> Choose Currency </b></label>

    <select name="currency" id="currency">

      <option value="dolar amerykanski">dolar amerykanski</option>
      <option value="dolar australijski">dolar australijski</option>
      <option value="dolar kanadyjski">dolar kanadyjski</option>
      <option value="euro">euro</option>
      <option value="korona czeska">korona czeska</option>
      <option value="korona norweska">korona norweska</option>

    </select>
    
    <br><br>

    <label for="quantity"><b> Quantity </b></label>
    <input type="text" placeholder="Enter quantity" name="quantity" required />
    

    <button type="submit">Calculate</button>
    

  </div>
</form>
</body>
</html>